
header {
    position: absolute;
    background-color: #000745;
    width: 100%;
    color: whitesmoke;    
    font-size: 5vmin;
    font-family: 'Ubuntu';
    overflow-x: hidden;
}

.title {
    position: relative;
    left: 10%;
    top: 0px;
}

.navPanel {
    position: absolute;
    background-color:rgba(4, 81, 81, 0.3);
    top: 15%;
    bottom: 15%;
    border-radius: 4%;
    width: 14vmin;
    height: 70%;
}

.buttons {
    position: relative;
    top: 10%;
    background-color:rgba(4, 81, 81, 0.3);
    height: 75%;
    left: 5%;
    width: 12vmin;
    border-radius: 3%;
}