@keyframes profile1Anim {
    from { opacity: 0%; left:-10%}
    to { opacity: 100%; left: 2%}
}

@media (prefers-reduced-motion: no-preference) {
    .panel-animation {
        animation: profile1Anim forwards; /*forwards keeps the final state*/
        animation-duration: 2s;
    }
}

.panelBody {
    position: absolute;
    background-color:rgba(70, 67, 32, 0.3);
    width: 85%;
    height: 75%;
    left: 18vmin;
    top: 20%;
    border-radius: 4%;
}

.profile1 {
    top: 2%;
    opacity: 0%;
    left: -10%;
}

