.loginPage {
    position: relative;
    background-color: whitesmoke;
    height: 90%;
    width: 80%;
    top: 5%;
    left: 10%;
    border-radius: 2%;
}

.logintitle {
    top: 1.75vh;
    position: relative;
    font-family: 'Ubuntu';
    font-size: 4vmin;
    left: 10%;
}
.banner {
    top: -2%;
    position: relative;
    background-color: #000745;
    height: 10%;
    color: white;
    border-bottom-left-radius: 5%;
    border-bottom-right-radius: 5%;
    border-top-left-radius: 2%;
    border-top-right-radius: 2%;
    
}
.loginForm {
    position: relative;
    left: 25%;
    width: 35%;
    top: 25%;
    font-family: 'Ubuntu';
    color:#000745
}

input {
    font-family: 'Ubuntu';
    font-weight: bold;
}

.invalid {
    color: red;
}

#nABtna {
    position: relative;
    background: none;
    border: none;
    font-family: 'Ubuntu';
    color: blue;
    cursor: pointer;
    font-weight:bold;
    left: -1%;
}